.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.p-tree-toggler-icon.pi.pi-fw.pi-caret-right:before{
  content: "\e902";
}

.p-tree-toggler-icon.pi.pi-fw.pi-caret-down:before{
  content: "\e903";
}
.p-treenode-content {
  text-align: left;
}
.p-treenode-content.p-treenode-selectable:hover {
  background-color: #393A40!important;
  color: #FFFFFF!important;
}
.p-tree.p-component {
  background-color: #303238;
  height: calc(100vh - 80px);
  border: none;
  float: left;
}
.navigation-menu {
  float: left;
  height: 100%;
  background-color: #303238;
  margin-right: 4px;
  box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.25);
}
.p-tree-container {
  color: #C2C2C4;
  margin-top: 80px!important;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
}

.logo-image {
  margin: 15px;
}

.simplediv {
    display: flex;
    background-color: #212327;
    height: 100vh;
}

.navigation-premenu {
  height: 100%;
  background-color: #303238;
  width: 20%;
  .p-panelmenu.p-component {
    margin-top: 90px;
    .p-component.p-panelmenu-header {
      .p-panelmenu-header-link {
        background-color: #303238;
        font-family: Lato;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        span {
          color: #C2C2C4;
        }
      }
      .p-panelmenu-header-link:hover {
        background-color: #393A40;
        border: none;
        span {
          color: #FFFFFF;
        }
      }
    }
    .p-component.p-panelmenu-header.p-highlight {
      .p-panelmenu-header-link {
        border: none;
        span {
          color: #806CE9;
        }
      }
    }
    .p-panelmenu-content {
      border: none;
      .p-menuitem {
        background-color: #303238;
        .p-menuitem-link {
          font-family: Lato;
          font-style: normal;
          font-weight: bold;
          font-size: 16px;
          line-height: 19px;
          padding-left: 40px;
          span {
            color: #C2C2C4;
          }
          .p-panelmenu-icon.pi.pi-fw.pi-caret-right:before {
            content: '\e901'
          }
          .p-panelmenu-icon.pi.pi-fw.pi-caret-down:before {
            content: '\e902'
          }
          .p-panelmenu-icon.pi.pi-fw.pi-caret-down, .p-panelmenu-icon.pi.pi-fw.pi-caret-down + .p-menuitem-text {
            color: #806CE9;
          }
        }
      }
      .p-menuitem-link:hover {
        background-color: #393A40;
        span {
          color: #FFFFFF!important;
        }
      }
    }
  }
}

.main-container {
  width: 100%;
  height: 100%;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
