.dataview-container {
  height: 100%;
  .p-dataview.p-component.p-dataview-grid {
    height: calc(100% - 105px);
    .p-dataview-content {
      height: calc(100% - 20px);
      .p-grid {
        height: 100%;
        overflow: auto;
        background-color: #212327!important;
      }
    }
  }
  .p-dataview.p-component.p-dataview-list {
    height: calc(100% - 50px);
    overflow: hidden;
    .p-dataview-content {
      height: calc(100% - 35px);
      .p-grid {
        height: calc(100% - 40px);
        background-color: #303238!important;
        overflow: auto;
        .p-col-12 {
          div {
            display: flex;
            align-items: center;
            .text-table-div {
              font-family: Lato;
              font-style: normal;
              font-weight: 500;
              font-size: 14px;
              line-height: 17px;
              color: #FFFFFF;
            }
          }
        }
        .p-col-12:hover {
          background-color: #6D6E77;
        }
      }
    }
  }
}

.p-toolbar.p-component {
  background-color: #212327;
  width: 96%!important;
  margin: 0 auto;
  padding-bottom: 0px;
  border: none;
  height: 50px;
  border-bottom: 1px solid #FFFFFF;
}
.p-sortable-column-icon.pi.pi-fw.pi-sort-alt:before {
  color: #6D6E77;
  content: "\e9a0";
}

.p-breadcrumb.p-component {
  padding-left: 0px!important;
  border: none;
  background-color: #212327;
  span {
    color: #FFFFFF;
  }
}

.grid-card {
  height: calc(100% - 135px);
  .p-datatable.p-component.p-datatable-scrollable {
    height: calc(100% - 75px);
  }
}

.p-datatable-scrollable-wrapper {
  background-color: #303238!important;
  height: 100%;
  margin: 0 auto;
  width: 96%;
  border-radius: 10px;
  padding-top: 10px;
  .p-datatable-scrollable-body-table {
    border-collapse: separate;
    border-spacing: 0px 8px;
    .p-highlight {
      background-color: #393A40!important;
      border: 1px solid #806CE9!important;
    }
    .p-highlight:hover {
      background-color: #474271!important;
      border: 1px solid #806CE9!important;
    }
  }
  .p-datatable-row {
    height: 62px;
    background-color: #303238!important;
    color: #FFFFFF!important;
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;

    td {
      border: none!important;
    }
    .p-checkbox-box.p-component {
      background-color: #303238!important;
    }
  }
  .p-datatable-row:hover {
    background-color: #6D6E77!important;
  }
  .p-datatable-scrollable-view {
    width: 98%;
    margin: 0 auto;
    height: 100%!important;
  }
  .p-datatable-scrollable-header-table {
    tr {
      height: 70px;
    }
    th {
      background-color: #393A40!important;
      border: none!important;
      border-radius: 5px!important;
      color: #6D6E77!important;
      font-family: Lato;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      .p-checkbox-box {
        background-color: #393A40;
      }

    }
  }
}
.p-paginator-top {
  background-color: #212327!important;
  border: none!important;
  width: 96%;
  margin: 20px auto;
  .p-paginator-left-content {
    color: #C2C2C4;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    .p-button.p-button-icon-only {
      background-color: #212327!important;
      border: none;
      .pi.pi-bars.p-button-icon-left:before {
        content: '\e967';
      }
      .p-highlight {
        background-color: #212327!important;
        border: none;
      }
    }
  }
  .p-paginator-pages {
    margin: 0px;
  }
  .p-highlight {
    background-color: #474271!important;
    border:1px solid #806CE9!important;
  }
  button {
    background-color: #393A40!important;
  }
  .p-dropdown {
    background-color: #393A40!important;
    margin-left: 0px!important;
  }
  .p-dropdown-label.p-inputtext {
    background-color: #393A40!important;
  }
  .p-dropdown-trigger {
    background-color: #393A40!important;
  }
  .p-hidden-accessible.p-dropdown-hidden-select {
    background-color: #393A40!important;
  }
  .p-button-icon-only {
    background-color: #806CE9!important;
    border-radius: 3px!important;
    color: #FFFFFF!important;
  }
}

.p-dialog-enter-done {
  border-radius: 20px;
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  .p-dialog-content {
    background-color: #303238!important;
    border: none!important;
    color: #FFFFFF!important;
    input, textarea {
      background-color: #6D6E77!important;
      border: 0.5px solid #C2C2C4;
      box-sizing: border-box;
      border-radius: 3px;
      font-family: Lato;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      color:#FFFFFF!important;
    }
  }
  .p-dialog-footer {
    background-color: #303238!important;
    border: none!important;
  }

  .p-dialog-titlebar {
    background-color: #303238!important;
    border: none!important;
  }
}


.p-dataview.p-dataview-content {
  background-color: #806CE9;
}

.p-panel-content {
  background-color: #393A40!important;
  border: 0.5px solid #FFFFFF;
  height: 160px;
}
.p-dataview-content {
  background-color: #212327!important;
  .p-grid {
    //background-color: red!important;
    //background-color: #303238!important;
    margin: 0 auto;
    width: 96%;
    border-radius: 10px;
    padding-top: 10px;
    .p-col-12{
      .p-panel-title {
        display: block;
        width: 100%;
        height: 100%;
        .main-container-image {
          position: relative;
          height: 100%;
          .container-image {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          .checked-box {
            position: absolute;
            display: none;
          }
        }
      }
      tr{
        td {
          vertical-align: middle;
        }
        span {
          color: #FFFFFF;
          font-family: Lato;
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 17px;
        }
      }
    }
    .p-col-12.p-md-3 {
      min-width: 336px!important;
    }
    .p-panel.p-component {
      //border: 0.5px solid #FFFFFF!important;
      border-radius: 10px;
    }

    .p-panel.p-component:hover .p-panel-titlebar {
      background-color: rgba(90, 196, 255, 0.2)!important;
      border: 1px solid #806CE9!important;
    }
    .p-panel.p-component:hover .p-panel-content {
      background-color: rgba(90, 196, 255, 0.2)!important;
      border: 1px solid #806CE9!important;
    }
    .p-panel.p-component:hover .checked-box {
      display: block;
    }
    .p-panel-titlebar {
      background-color: #212327!important;
      border: 1px solid #FFFFFF!important;
      border-radius: 10px 10px 0px 0px;
      height: 257px;
      display: flex;
      align-items: center;
      justify-content: center;
      .checked-box {
        padding-left: -50px;
      }
    }
  }
  .product-detail {
    height: calc(100% - 60px);
    p {
      font-family: Lato;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 19px;
      color: #FFFFFF;
      text-align: center;
    }
    span {
      font-family: Lato;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 17px;
      color: #FFFFFF;
    }
  }
  .product-button {
    display: flex;
    align-items: center;
    height: 50px;
    button {
      background-color: #806CE9;
      border: none;
      font-family: Lato;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 17px;
    }
    button:hover {
      background-color: #474271;
    }
    .p-splitbutton.p-buttonset.p-component {
      .p-button.p-component:first-child {
        display: none;
      }
      .p-button.p-component.p-splitbutton-menubutton.p-button-icon-only {
        font-size: 12px;
        .pi.pi-caret-down.p-c.p-button-icon-left:before {
          content:'\e950'
        }
      }
    }
    .p-menu.p-menu-dynamic.p-menu-overlay.p-component.p-menu-overlay-visible {
      border: none;
      left: -150px!important;
      //top: 0px!important;
      background-color: #474271;
      .p-menuitem {
        background-color: #474271;
        margin: 5px;
        .p-menuitem-text {
          font-family: Lato;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 17px;
          color: #FFFFFF;
        }
      }
      .p-menuitem-link:hover {
        background-color: #806CE9;
      }
    }
  }
  border: none!important;
}
.visible-checked {
  display: block!important;
  .p-checkbox-box.p-component.p-highlight {
    background-color: #806CE9;
    border: 1px solid #FFFFFF;
  }
}
.checked-table-row {
  background-color: #6D6E77;
  border: 1px solid #806CE9;
}