.p-toolbar.p-component {
  width: 100%;
  background-color: #212327!important;
  color: #FFFFFF;
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}
.main-div-container {
  display: flex;
  height: 100%;
  .navigation-add-menu {
    height: 100%;
    width: 15%;
    background-color: #303238;
    ul {
      margin-top: 100px;
      padding-left: 0px;
      li {
        list-style-type: none;
        font-family: Lato;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        color: #C2C2C4;
        width: 100%;
        height: 40px;
        padding-top: 10px;
        padding-left: 5px;
      }
      .selected-li {
        color: #FFFFFF;
        background-color: #393A40;
        border-left: 4px solid #806CE9;
      }
      li:hover {
        color: #FFFFFF;
        background-color: #393A40;
        border-left: 4px solid #806CE9;
      }
    }

  }
  .content-div-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    .edit-grid-footer {
      border-top: 1px solid #FFFFFF;
      width: 98%;
      margin: 0 auto;
      padding: 20px 0px 20px 0px;
      font-family: Lato;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      color: #C2C2C4;
      display: flex;
      justify-content: space-between;
      div {
        margin-right: 50px;
        span {
          font-weight: bold;
          color: #FFFFFF;
        }
      }
    }
    .edit-grid-card {
      width: 96%;
      margin: 0 auto;
      padding: 20px 0px 20px 0px;
      font-family: Lato;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 19px;
      color: #C2C2C4;
      display: flex;
      div {
        margin-right: 50px;
      }
    }
    .grid-card {
      flex-grow: 1;
      overflow-x: auto;
      .p-scrollpanel.p-component {
        height: calc(100% - 10px);
        width: 96%;
        margin: 0 auto;
        .p-scrollpanel-bar {
          background-color: #806CE9;
          opacity: 1;
        }
      }
      .p-datatable-row.p-highlight-contextmenu {
        td {
          background-color: #6D6E77;
        }
      }
      .p-contextmenu.p-component {
        border-color: #806CE9;
        .p-menuitem {
          background-color: #806CE9;
          .p-menuitem-link {
            font-family: Lato;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
            .p-menuitem-text {
              color: #FFFFFF;
            }
          }
        }
        .p-menuitem-active {
          .p-menuitem-link {
            background-color: #474271!important;
          }
        }
      }
      .p-tabview.p-component.p-tabview-top {
        width: 96%;
        margin: 0 auto;
        .p-unselectable-text {
          a {
            background-color: #303238!important;
          }
        }
        .p-unselectable-text.p-tabview-selected.p-highlight {
          border: none!important;
          a {
            background-color: #6D6E77!important;
          }
        }
        .p-tabview-panels {
          background-color: #303238!important;
          height: calc(100vh - 260px);
          .p-tabview-panel {
            height: 100%;
          }
        }
      }
      .p-datatable-scrollable-wrapper {
        background-color: #303238!important;
        margin: 0 auto;
        width: 96%;
        border-radius: 10px;
        padding-top: 10px;
        height: 100%;
        table {
          width: 98%;
          margin: 0 auto;
          .p-datatable-thead {
            tr {
              height: 70px;
            }
            th {
              background-color: #393A40!important;
              border: none!important;
              border-radius: 5px!important;
              color: #C2C2C4!important;
              font-family: Lato;
              font-style: normal;
              font-weight: 600;
              font-size: 14px;
              line-height: 17px;
            }
          }
          .p-datatable-row {
            height: 62px;
            background-color: #303238!important;
            color: #FFFFFF!important;
            font-family: Lato;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;

            td {
              border: none!important;
              padding-left: 50px;
            }
          }
          .p-datatable-row:hover {
            background-color: #6D6E77!important;
          }
          .p-rowgroup-header {
            background-color: #303238;
            color: #806CE9;
            height: 62px;
            font-family: Lato;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 19px;
            td {
              border: none!important;
            }
            .p-row-toggler-icon.pi.pi-fw.p-clickable.pi-chevron-down:before {
              content: '\e90f';
              color: #806CE9;
            }
            .p-row-toggler-icon.pi.pi-fw.p-clickable.pi-chevron-right:before {
              content: '\e90d';
              color: #806CE9;
            }
          }
          .p-rowgroup-header:hover {
            background-color: #6D6E77!important;
          }
        }
      }
    }
  }
}

.edit-grid {
  display: flex;
  .edit-grid-main {
    background-color: #303238!important;
    border-radius: 10px;
    margin: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .edit-grid-container {
      display: flex;
      color: #FFFFFF;
      font-family: Lato;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      .p-inputtext.p-component {
        width: 100%;
        background-color: #6D6E77;
        color: #FFFFFF;
        font-family: Lato;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
      }
      .p-col-6 {
        display: flex;
        padding: 0px;
      }
    }
  }
  .edit-grid-classcat {
    background-color: #303238!important;
    border-radius: 10px;
    margin: 0px 20px 20px 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .edit-grid-container {
      display: flex;
      color: #FFFFFF;
      font-family: Lato;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      .p-inputtext.p-component, .p-autocomplete.p-component {
        width: 100%;
        background-color: #6D6E77;
        color: #FFFFFF;
        font-family: Lato;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        .p-inputtext.p-component {
          width: 96%;
        }
        .p-button.p-component {
          background-color: #806CE9;
          border: none;
          width: 4%;
        }
        .p-autocomplete-panel.p-input-overlay {
          background-color: #212327;
          border: none;
          .p-autocomplete-list-item {
            color: #FFFFFF;
            font-family: Lato;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            margin: 5px 0px 5px 0px;
          }
          .p-autocomplete-list-item:hover {
            background-color: #393A40;
          }
        }

      }
      .p-col-6 {
        display: flex;
        padding: 0px;
      }
    }
  }
  .edit-grid-category {
    background-color: #303238!important;
    border-radius: 10px;
    margin: 0px 20px 20px 20px;
    width: 40%;
    .p-datatable {
      width: 98%;
      margin: 0 auto;
      .p-datatable-header {
        background-color: #303238;
        font-family: Lato;
        font-style: normal;
        font-weight: 900;
        font-size: 16px;
        line-height: 19px;
        text-align: left;
        padding: 20px 10px 10px 10px;
      }
      table {
        border-collapse: separate;
        border-spacing: 0px 8px;
        .p-datatable-thead {
          display: none;
        }
        .p-datatable-tbody {
          tr {
            background-color: #303238;
            color: #FFFFFF;
            font-family: Lato;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            td {
              border: none;
            }
            .delete-td {
              text-align: right;
            }
          }
          tr:hover {
            background-color: #393A40;
            border-left: 5px solid #474271!important;
          }
        }
      }
    }
  }
  .edit-grid-image {
    width: 403px;
    height: 416px;
    background-color: #303238!important;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 20px 20px 0px;
    img {
      max-height: 100%;
      max-width: 100%;
    }
    .p-galleria-thumbnail-prev {
      background-color: #303238!important;
      border: none!important;
      span {
        color: #FFFFFF;
      }
    }
    .p-galleria-thumbnail-next {
      background-color: #303238!important;
      border: none!important;
      span {
        color: #FFFFFF;
      }
    }
    .p-galleria-thumbnail-items-content {
      display: none;
    }
    .p-galleria-thumbnail-container {
      justify-content: center;
    }
    .p-galleria-content {
      width: 403px;
      height: 416px;
      .p-galleria-preview-content {
        height: 90%;
      }
    }
  }
}