.grid-card {
  height: calc(100% - 10px);
  margin-top: 5px;
  .p-toolbar.p-component {
    margin-bottom: 10px;
    height: 60px;
  }
  .p-scrollpanel.p-component {
    height: calc(100% - 70px);
    width: 96%;
    margin: 0 auto;
    .p-scrollpanel-bar {
      background-color: #806CE9;
      opacity: 1;
    }
    .product-preview {
      background-color: #303238!important;
      margin: 0 auto;
      width: 100%;
      border-radius: 10px;
      padding: 20px;
      .preview-container {
        display: flex;
        padding-bottom: 20px;
        .clascat-grid {
          width: 33%;
          margin-right: 20px;
          color: #FFFFFF;
          .code-product {
            padding-left: 40px;
            font-family: Lato;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 17px;
            margin-bottom: 20px;
            span {
              span {
                font-weight: bold;
              }
            }
          }
          .p-toolbar.p-component {
            background-color: #303238!important;
            color: #FFFFFF;
            font-family: Lato;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            height: 50px;
          }
        }
        .character-grid {
          width: 100%;
          .p-unselectable-text {
            border: 1px solid #FFFFFF;
          }
          .p-tabview-panels {
            background-color: #303238;
            .p-rowgroup-header {
              background-color: #303238;
              color: #806CE9;
              text-transform: uppercase;
              font-family: Lato;
              font-style: normal;
              font-weight: bold;
              font-size: 16px;
              line-height: 19px;
              .p-row-toggler-icon.pi.pi-fw.p-clickable.pi-chevron-down:before {
                content: '\e90f';
                color: #806CE9;
              }
              .p-row-toggler-icon.pi.pi-fw.p-clickable.pi-chevron-right:before {
                content: '\e90d';
                color: #806CE9;
              }
            }
            .p-datatable-row {
              background-color: #303238;
              color: #FFFFFF;
              font-family: Lato;
              font-style: normal;
              font-weight: 500;
              font-size: 14px;
              line-height: 17px;
              td {
                padding-left: 50px;
              }
            }
            .p-datatable-thead {
              display: none;
            }
            td {
              border: none;
            }
          }
        }
        .image-grid {
          width: 185px;
          height: 214px;
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            max-height: 100%;
            max-width: 100%;
          }
        }
        .p-grid {
          width: calc(100% - 185px);
          margin-top: 0px;
          padding-left: 20px;
          color: #FFFFFF;
          display: flex;
          flex-direction: column;
          .full-name-product {
            font-family: Lato;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 29px;
            margin-bottom: 20px;
          }
          .code-product {
            font-family: Lato;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}